body {
    width: 100%;
    max-width: fit-content;
    margin: 2em auto;
}

h1 {
    text-align: center;
}

div.container {
    position: relative;
    align-items: center;
    justify-content: center;
    
}

td {
    position: relative;
    width: 80px;
    height: 80px;
    border: solid;
    border-width: 2px;
    border-color: black;
    background-color:aqua;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}
